{% extends "layout.html" %}

{% block title %}Mission to Mars Dashboard{% endblock %}

{% block content %}
<div class="row">
  <div class="col m8">
    <h3>Latest Mars News</h3>
    <h5 class="news-title">{{ data.news_title }}</h5>
    <p class="news-caption">{{ data.news_caption }}</p>
  </div>
  <div class="col m4">
    <div class="card blue-grey lighten-2">
      <div class="card-content white-text">
        <span class="card-title">Current Weather on Mars</span>
        <p class="weather">{{ data.weather }}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m8">
    <h3>Featured Mars Image</h3>
    <img class="featured_image_url responsive-img" src="{{ data.featured_image_url }}" />
  </div>
  <div class=" col m4">
    <h5>Mars Facts</h5>
    <div class="facts">{{ data.facts | safe  }}</div>
  </div>
</div>
<div class="row">
  <h3 class="center-align">Mars Hemispheres</h3>
  <hr />
  <div id="results">
    {% for item in data.hemispheres %}
    <div class="col s12 m6">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{ item.img_url }}">
        </div>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">{{ item.title }}</span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</div>
{% endblock %}
