{% extends "layout.html" %}

{% block title %}Mission to Mars Dashboard{% endblock %}

{% block header %}
<div class="card-panel white-text red darken-4 z-depth-4 jumbotron">
  <h1>Mission to Mars</h1>
  <a id="refresh-data" class="waves-effect waves-light btn-large">
    <div id="preloader-btn" class="preloader-wrapper medium active hidden">
      <div class="spinner-layer spinner-white-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    <span class="refresh-icon">
      <i class="material-icons left">cloud_download</i>
      Scrape New Data
    </span>
  </a>
</div>
{% endblock  %}

{% block content %}
<div class="row">
  <div class="col m8">
    <h3>Latest Mars News</h3>
    <h5 class="news-title">News Title</h5>
    <p class="news-caption">News caption.</p>
  </div>
  <div class="col m4">
    <div class="card blue-grey lighten-2">
      <div class="card-content white-text">
        <span class="card-title">Current Weather on Mars</span>
        <p class="weather"></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col m8">
    <h3>Featured Mars Image</h3>
    <img class="featured_image_url responsive-img" src='https://placeimg.com/1920/800/nature/grayscale' />
  </div>
  <div class="col m4">
    <h5>Mars Facts</h5>
    <div class="facts"></div>
  </div>
</div>
<div class="row">
  <h3 class="center-align">Mars Hemispheres</h3>
  <hr />
  <div class="col s12 m6">
    <div class="card hemi-1">
      <div class="card-image">
        <img src="https://placeimg.com/600/600/technology/grayscale">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card hemi-2">
      <div class="card-image">
        <img src="https://placeimg.com/600/600/technology/grayscale">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card hemi-3">
      <div class="card-image">
        <img src="https://placeimg.com/600/600/technology/grayscale">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Card Title</span>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card hemi-4">
      <div class="card-image">
        <img src="https://placeimg.com/600/600/technology/grayscale">
      </div>
      <div class="card-content">
        <span class="card-title grey-text text-darken-4">Card Title</span>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}
