{% from "utils/macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">MISSION TO MARS</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a id="refresh-data" class="btn-large waves-effect waves-light waves-red">
              <div id="preloader-btn" class="preloader-wrapper medium active hidden">
                <div class="spinner-layer spinner-white-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <span class="refresh-icon">
                <i class="material-icons left">cloud_download</i>
                <span>Scrape New Data</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/pia23740.jpg') }}">
      </div>
    </div>
    <div class="section white">
      <div class="row container">
        {% block header %}{% endblock %}
        <section>
          {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
          {% endfor %}
          {% block content %}{% endblock %}
        </section>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/pia23182.jpg') }}">
      </div>
    </div>
  </main>
  <footer class="page-footer no-padding">
    <div class="footer-copyright">
      © 2020 Misson to Mars
    </div>
  </footer>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.7/d3.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
